@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSansCyrl500.eot");
  src: url("../fonts/MuseoSansCyrl500.eot?#iefix") format("embedded-opentype"),
  url("../fonts/MuseoSansCyrl500.woff2") format("woff2"),
  url("../fonts/MuseoSansCyrl500.woff") format("woff"),
  url("../fonts/MuseoSansCyrl500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: $bg-white;
  color: $c-main;
  font-family: $f-museo;
  min-width: 320px;
  height: 100%;
  position: relative;
  text-align: left;
  font-weight: normal;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba($c-white, 0);
  -webkit-focus-ring-color: rgba($c-white, 0);
  outline: none;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-y: scroll;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: $c-blue;

  &:hover {
    text-decoration: underline;
  }
}

h1,
.h1 {
  position: relative;
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.2;
}

h2,
.h2 {
  position: relative;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.2;
}

h3,
.h3 {
  position: relative;
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.3;
}

p,
.paragraph {
  font-size: 16px;
  margin-bottom: 14px;
}

.clear::after {
  height: 0;
  clear: both;
  content: ".";
  display: block;
  overflow: hidden;
  line-height: 0;
  font-size: 0;
}
