// Colors
$c-white: #fff;
$c-main: #333;
$c-light-grey: #b8b8b8;
$c-blue: #076291;
$c-red: #c30d0d;

// Backgrounds
$bg-white: #fff;
$bg-green: #0aa6ac;
$bg-yellow: #f7ec6c;
$bg-red: #c30d0d;
$bg-light-grey: #f1f1f0;

//Borders
$bd-grey: #acacac;

// Fonts
$f-museo: 'MuseoSansCyrl', Arail, sans-serif;
